<!DOCTYPE html>
<html>
	<head>
		<title>Luna</title>

		<link rel="stylesheet" href="/css/lunastyle.css">
		<link href='http://fonts.googleapis.c
		om/css?family=Alegreya+Sans+SC:100' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/lunaMainPage.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
		<script src="/js/jquery.fittext.js"></script>
		<script src="/js/generalPageRender.js"></script>

	</head>
		<body>
			<div id="pageContainer">
			<div id="lunaSidebar-NM">
			<span id="lunaText">LUNA</span>
						<div id="lunaLogo">
			</div>
			</div>
			<div id="lunaContent">
				<div id="lunaBGLogo">
				</div>
			<span id="lunaBlurb">
			Sorry! This stream does not exist!
			</span>
			</div>
			</div>
		</body>
</html>