<!DOCTYPE html>
<html>
<head>
	<script> var rm = "<%= roomName %>";</script>
	<title>Luna</title>

	<link rel="stylesheet" href="/css/lunastyle.css">
	<link href='http://fonts.googleapis.c
	om/css?family=Alegreya+Sans+SC:100,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/lunaMainPage.css">

	<link rel="stylesheet" href="/css/lunaStream.css">
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />


	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

	<!-- LUNA sources. -->
	<script src="/js/client.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/jquery.fittext.js"></script>
	<script src="/js/generalPageRender.js"></script>
	<!-- End LUNA sources. -->
	
</head>
<body>
	<div id="pageContainer">
		<div id="lunaSidebar" class="ui-widget-content'">
			<span id="lunaText">LUNA</span>
			<div id="lunaLogo">
			</div>
			<select multiple id="playlistSelect">
			</select>
			<div id="controlDiv">
				<span id="controlspan">Control Panel</span><hr>


				<input type="checkbox" name="shuffle" id="shuffleBox"><label for="shuffleBox">Shuffle</label><br>
				<div id="nextPrevBox">
					<button id="prevbutton"></button>
					<button id="nextbutton"></button>
				</div>
				<button id="playbutton" class="cdivButton">PLAY</button>
				<button id="removebutton" class="cdivButton">REMOVE</button>
				<button id="renamebutton" class="cdivButton">RENAME</button>
				<div id="addVideoBox">
					<span id="addVideoText">Add Video</span>
					<input type="text" id="urlInput" placeholder="YT URL"/></div>
				</div>
			</div>
		</div>

		<div id="lunaContent">
			<div id="lunaBGLogo">
			</div>
			<div id="videoPlayerBox">
			<div id="vbox"></div>
			<!--	<div id="videoPlayer" class="video-js vjs-default-skin">
				</div>-->
			</div>
		</div>
	</div>
</body>
<div id="dialog-modal" title="Chrome warning" style="display: none"><p>Luna and Chrome do not play well together at the moment. The Shuffle functionality will be disabled (Administrators only).</p></div>
<script> //Check Chrome!
var isChrome = !!window.chrome;
if(isChrome) {
	$("#shuffleBox").attr('disabled', true);
	$("#shuffleBox").attr('checked', false);

	$("#dialog-modal").dialog({
		height: 340,
		modal: true
	});
} else {
		$("#shuffleBox").attr('disabled', false);

}
</script>
</html>