<!DOCTYPE html>
<html>
<head>
	<script> var rm = "<%= roomName %>";</script>
	<title>Luna</title>

	<link rel="stylesheet" href="/css/lunastyle.css">
	<link href='http://fonts.googleapis.c
	om/css?family=Alegreya+Sans+SC:100,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/lunaMainPage.css">

	<link rel="stylesheet" href="/css/lunaStream.css">
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />


	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

	<!-- LUNA sources. -->
	<script src="/js/client.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/jquery.fittext.js"></script>
	<script src="/js/generalPageRender.js"></script>
	<!-- End LUNA sources. -->
	
</head>
<body>
	<div id="pageContainer">
		<div id="lunaSidebar" class="ui-widget-content'">
			<span id="lunaText">LUNA</span>
			<div id="lunaLogo">
			</div>
			<select multiple id="playlistSelect">
			</select>
			<div id="controlDiv">


				<div id="controllerOptions">
				<span id="controlspan">Control Panel</span><hr>
				<input type="checkbox" name="shuffle" id="shuffleBox"><label for="shuffleBox">Shuffle</label><br>
				<div id="nextPrevBox">
					<button id="prevbutton"></button>
					<button id="nextbutton"></button>
				</div>
				<button id="playbutton" class="cdivButton">PLAY</button>
				<button id="removebutton" class="cdivButton">REMOVE</button>
				<button id="renamebutton" class="cdivButton">RENAME</button>
				<div id="addVideoBox">
					<span id="addVideoText">Add Video</span>
					<input type="text" id="urlInput" placeholder="YT URL"/></div><br>
				
				</div>
					<div id="publicOptions">
				<span id="controlspan">Misc. Options</span><hr>
					<div class="alignBox">
				<table class="AlignList">
				<tr><td><input type="checkbox" id="lockSidebar" name="lockBar" checked></td><td><label for="lockBar">Lock Sidebar</label></td></input></tr>
				<tr><td><input type="checkbox" id="lockChatBar" name="lockChatBar" checked></td><td><label for="lockChatBar">Show Chat</label></td></input></tr>
				</table>
					</div>
				</div>
				</div>



			</div>
		</div>

		<div id="lunaContent">
			<div id="lunaBGLogo">
			</div>
			<div id="videoPlayerBox">
			<div id="vbox"></div>
			</div>

		</div>
		<div id="chatBox" class="ui-widget-content'">
			<div id="chatOptions">
				<span id="controlspan">Chat</span><hr>
			</div>
			<div id="chatContentBox">
			<div id="chatMessages">
			</div>
				<div id="chatNicknameBox">
				<table id="chatNameTable">
					<tr><td><label for="nickname">Nickname</label></td>
					<td><input type="text" name="nickname" id="nicknameInput"></td>
					</tr>
					</table>
				</div>
				<div id="chatTextInputBox">
					<table id="chatNameTable">
					<tr><td><label for="nickname">Message</label></td>
					<td><input type="text" name="message" id="messageInput"></td>
					</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>